@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --filter-wite: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(1%) hue-rotate(258deg) brightness(102%) contrast(101%);
  --filter-black: brightness(0) saturate(100%) invert(0%) sepia(0%)
    saturate(7473%) hue-rotate(161deg) brightness(92%) contrast(107%);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
