@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --filter-wite: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(1%) hue-rotate(258deg) brightness(102%) contrast(101%);
  --filter-black: brightness(0) saturate(100%) invert(0%) sepia(0%)
    saturate(7473%) hue-rotate(161deg) brightness(92%) contrast(107%);
  --filter-grey: brightness(0) saturate(100%) invert(70%) sepia(6%)
    saturate(143%) hue-rotate(324deg) brightness(87%) contrast(88%);
  --filter-blue: brightness(0) saturate(100%) invert(24%) sepia(41%)
    saturate(7140%) hue-rotate(203deg) brightness(91%) contrast(100%);
}
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html *::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(236, 161, 112, 0.3);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
